@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
    height: 2px;

}

::-webkit-scrollbar-track{
    background: #ddd;
}

::-webkit-scrollbar-thumb{
    background: rgb(187, 203, 208);
    border-radius: 10px;
}